.home__wrapper{
    padding: 0 80px;
}

.home__first__item{
    display: flex;
    gap: 20px;
    background-color: red;
}

.home__modal__menu{
    width: 20%;
    background-color: gold;
}

.home__modal__swiper{
    width: 80%  ;
    background-color: dodgerblue;
}