.modalfade{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal__container{
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button__wrapper{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button__wrapper > button{
  padding: 7px 30px;
}

.modal__container > h2{
  font-size: 30px;
}

.modal__container > p{
  font-size: 20px;
}

.button__wrapper > button:first-child{
  background-color: var(--main-success-backgroundcolor);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.button__wrapper > button:last-child{
  background-color:#f34b4b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.button__wrapper > button:first-child:focus{
  box-shadow: 0px 0px 0px 4px #64e964a6;
}

.button__wrapper > button:last-child:focus{
  box-shadow: 0px 0px 0px 4px #f34b4ba6;
}