.top__nav{
    padding: 20px 0;
    background-color: #eee;
}

.top__nav__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    img{
        width: 40px;
    }

    a{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--main-background-color);
        font-family: var(--toastify-font-family);
        img{
            width: 24px;
            aspect-ratio: 1/1;
        }
    }
}

.bottom__nav{
    padding: 65px 170px;
    img{
        width: 180px;
    }

    .item{
        display: flex;
        align-items: center;
        gap: 30px;
        .bottom__nav__form{
            border: 2px solid var(--main-background-color);
            border-radius: var(--secondary-border-radius);
            overflow: hidden;
            // width: 100%;
            display: flex;
            align-items: center;
            width: 100%;
            input{
                border: none;
                outline: none;
                font-size: 1.3rem;
                padding: 20px 0;
                text-indent: 10px;
                flex: 1;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 12%;
                height: 100%;
                padding: 14px 0;
                background-color: var(--main-background-color);
                border: none;
                outline: none;
                font-size: 2.3rem;
                color: var(--toastify-color-light);

            }
        }
    }  
}

.nav__menu{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 5px 1px #dcdcdccc;
}

.nav__menu__items{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
        font-size: 20px;
        text-decoration: none;
        padding: 10px 30px;
        border: 1px solid #919090aa;
        border-radius: 25px;
        color: var(--main-background-color);
        font-family: var(--toastify-font-family);
        background-color: #ebebeba2;
    }
}